.container {
    display:flex;
    justify-content: center;
    align-items:center;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.container-item {
    display:flex;
    flex-wrap:wrap;
}

.item {
    margin:10px;
}