ul {
    display:flex;
    flex-direction:row ; /* column | row-reverse | column-reverse */
    flex-wrap: wrap;
    text-decoration: none;
}

li {
    width:100px;
    height:100px;
    background-color: lightblue;
    margin:8px;
    
}

/* .container {
    display:flex;
    justify-content: center;
    align-items:center;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.container-item {
    display:flex;
    flex-wrap:wrap;
}

.item {
    margin:10px;
}
*/

