ul {
    display:flex;
    flex-direction:row ; /* column | row-reverse | column-reverse */
    flex-wrap: wrap;
    justify-content:space-evenly;
    border: 1px solid red;
    padding:0;
    list-style : none;
    background-color: lightcoral;
    align-items:flex-start;
}

li {
    width:100px;
    height:100px;
    background-color: lightblue;
    margin:8px;
    padding:4px;
}

/* .container {
    display:flex;
    justify-content: center;
    align-items:center;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.container-item {
    display:flex;
    flex-wrap:wrap;
}

.item {
    margin:10px;
}
*/

