.list-style-one {
    list-style-type: circle;
    list-style-position: outside;
}

.list-style-two {
    list-style-type: square;
    list-style-position: inside;
}

.list-style-three {
    list-style-type: decimal;
    list-style-position: none;
}

.list-style-four {
    list-style-type:lower-alpha ;
}