.list-style-one {
    list-style-type: circle;
    list-style-position: outside;
}

.list-style-two {
    list-style-type: square;
    list-style-position: inside;
}

.list-style-three {
    list-style-type: decimal;
    list-style-position: none;
}

.list-style-four {
    list-style-type:lower-alpha ;
}

.box-one {
    background-color: red;
    border: 2px solid blue;
    color: yellow;
    padding: 5px 5px 10px 10px;
}

.box-two {
    background-color: blue;
    border: 2px solid red;
    color: yellow;
    padding-bottom: 10px;
    padding-top:10px;

}